@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  @apply w-[250px] h-[250px] self-center overflow-hidden rounded-2xl
}

.poster {
  @apply transform transition duration-300
}

.card:hover > .poster {
  @apply scale-110
}

.card:hover > .details {
  @apply translate-y-[-100%]
}

.details {
  @apply relative top-[0] left-0 w-[100%] h-[250px] px-[24px] pt-[24px] pb-[32px] bg-black bg-opacity-60 transition duration-300
}
